<div class="container-fluid">
  <!-- Breadcrumbs-->
<div class="box_general">
  <div class="header_box">
    <h2 class="d-inline-block">Last Messages</h2>
  </div>
  <div class="list_general">
    <ul> <% @last_messages.each do |message| %>
      <li>
        <span>Sent <%= message.created_at %></span>
        <figure>
          <%if message.sender.avatar.attached?%>
            <%= image_tag message.sender.avatar, alt: 'avatar' %>
          <%else%>
            <%= image_tag "https://www.babelio.com/users/AVT_inconnu_5345.jpg", alt: 'avatar' %>
          <%end%>
        </figure>
        <div>
          <% if message.sender == current_user %>
          <%= link_to "#{message.receiver.first_name}", user_conversation_path(message.sender_id, message.receiver_id) %>
          <% else %>
          <%= link_to "#{message.sender.first_name}", user_conversation_path(message.sender_id, message.receiver_id) %>
          <% end %>
          <p><%= message.content %></p>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
</div>
<!-- /box_general-->
</div>
<!-- /container-fluid-->
