<div class="content-wrapper">
  <div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#">Dashboard</a>
      </li>
      <li class="breadcrumb-item active">Listings</li>
    </ol>
  <div class="box_general">
    <div class="header_box">
      <h2 class="d-inline-block">My artworks</h2>
    </div>
    <div class="list_general">
      <ul>
        <% @my_artworks.each do |artwork|%>
        <li>
          <figure><img src="img/item_1.jpg" alt=""></figure>
          <small><%=artwork.category.name%></small>
          <small> - $ <%=artwork.price%></small>
          <h4><%=artwork.name%></h4>
          <p><%=artwork.description%></p>
          <p><a href="#0" class="btn_1 gray"><i class="fa fa-fw fa-eye"></i> View item</a></p>
          <ul class="buttons">
            <li><a href="#0" class="btn_1 gray delete wishlist_close"><i class="fa fa-fw fa-times-circle-o"></i> Delete Artwork</a></li>
            <%= link_to "Edit Artwork", edit_user_artwork_path(current_user.id, artwork.id), class: "btn_1 gray edit wishlist_close" %>
          </ul>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>