<main>
		<div class="bg_gray">
			<div class="container margin_60_40">
				<div class="main_title center">
					<span><em></em></span>
					<h2>Popular Categories</h2>
					<p>Make your own choice, they only wait for you</p>
				</div>
				<!-- /main_title -->
				<div class="owl-carousel owl-theme categories_carousel owl-loaded owl-drag">

          <div class="owl-stage-outer">
            <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1778px;">
            <!-- Boucle -->
              <% @categories.each do |category| %>
                <div class="owl-item active" style="width: 234px; margin-right: 20px;">
                  <div class="item_version_2">
                    <%= link_to category_path(category.id) do%>
                      <figure>
                        <span><%= category.artworks.size %></span>
                        <%= image_tag "category_generique.jpg", data: {src: "category_generique.jpg"}, alt: "" ,width: 350, height: 450,class: "owl-lazy", style: "opacity: 1;"%>
                        <div class="info">
                          <h3><%= category.name %></h3>
                        </div>
                      </figure>							
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
            <div class="owl-nav">
              <button type="button" role="presentation" class="owl-prev disabled"><i class="arrow_carrot-left"></i></button>
              <button type="button" role="presentation" class="owl-next"><i class="arrow_carrot-right"></i></button>
            </div>
            <div class="owl-dots disabled"></div>
          </div>
				<!-- /carousel -->
			  </div>
			</div>
			<!-- /container -->
		</div>
		<!-- /bg_gray -->
		
		<div class="container margin_60_40">
			<div class="main_title">
				<span><em></em></span>
				<h2>Popular Artists</h2>
				<p>Awesome Artists, for Awesome People</p>
				<a href="#0">View All</a>
			</div>
			<!-- /main_title -->
			<div class="owl-carousel owl-theme carousel_4 owl-loaded owl-drag">

			<div class="owl-stage-outer">
				<div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 2223px;">
					<% @users.each do |user|%>
						<div class="owl-item active" style="width: 297.5px; margin-right: 20px;">
							<div class="item">
								<div class="strip">
										<figure>
												<span class="ribbon off">hot</span>
                        <%= image_tag "artist.jpg", data: {src: "category_generique.jpg"}, alt: "" ,width: 297.5, height: 190,class: "owl-lazy", style: "opacity: 1;"%>
												<a href="detail-restaurant.html" class="strip_info">
														<small>Pizza</small>
														<div class="item_title">
																<h3>Da Alfredo</h3>
																<small>27 Old Gloucester St</small>
														</div>
												</a>
										</figure>
										<ul>
												<li><span class="loc_open">Now Open</span></li>
												<li>
														<div class="score"><span>Superb<em>350 Reviews</em></span><strong>8.9</strong></div>
												</li>
										</ul>
								</div>
							</div>
						</div>
					<%end%>
				</div>
			</div>
					<div class="owl-nav"><button type="button" role="presentation" class="owl-prev disabled"><i class="arrow_carrot-left"></i></button><button type="button" role="presentation" class="owl-next"><i class="arrow_carrot-right"></i></button></div><div class="owl-dots disabled"></div>
					</div>
			<!-- /carousel -->

			<div class="banner lazy" data-bg="url(banner_bg_desktop.jpg)" data-was-processed="true" style="background-image: url(&quot;banner_bg_desktop.jpg&quot;);">
				<div class="wrapper d-flex align-items-center opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.2)" style="background-color: rgba(0, 0, 0, 0.2);">
					<div>
						<small>foogra</small>
						<h3>More than 3000 Restaurants</h3>
						<p>Book a table easly at the best price</p>
						<a href="grid-listing-filterscol.html" class="btn_1">View All</a>
					</div>
				</div>
				<!-- /wrapper -->
			</div>
			<!-- /banner -->

			<div class="row">
				<div class="col-12">
					<div class="main_title version_2">
						<span><em></em></span>
						<h2>Our Very Best Deals</h2>
						<p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
						<a href="#0">View All</a>
					</div>
				</div>
				<div class="col-md-6">
					<div class="list_home">
						<ul>
							<li>
								<a href="detail-restaurant.html">
									<figure>
										<img src="location_list_1.jpg" data-src="location_list_1.jpg" alt="" class="lazy loaded" data-was-processed="true">
									</figure>
									<div class="score"><strong>9.5</strong></div>
									<em>Italian</em>
									<h3>La Monnalisa</h3>
									<small>8 Patriot Square E2 9NF</small>
									<ul>
										<li><span class="ribbon off">-30%</span></li>
										<li>Average price $35</li>
									</ul>
								</a>
							</li>
							<li>
								<a href="detail-restaurant.html">
									<figure>
										<img src="location_list_2.jpg" data-src="location_list_2.jpg" alt="" class="lazy loaded" data-was-processed="true">
									</figure>
									<div class="score"><strong>8.0</strong></div>
									<em>Mexican</em>
									<h3>Alliance</h3>
									<small>27 Old Gloucester St, 4563</small>
									<ul>
										<li><span class="ribbon off">-40%</span></li>
										<li>Average price $30</li>
									</ul>
								</a>
							</li>
							<li>
								<a href="detail-restaurant.html">
									<figure>
										<img src="location_list_3.jpg" data-src="location_list_3.jpg" alt="" class="lazy loaded" data-was-processed="true">
									</figure>
									<div class="score"><strong>9.0</strong></div>
									<em>Sushi - Japanese</em>
									<h3>Sushi Gold</h3>
									<small>Old Shire Ln EN9 3RX</small>
									<ul>
										<li><span class="ribbon off">-25%</span></li>
										<li>Average price $20</li>
									</ul>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-6">
					<div class="list_home">
						<ul>
							<li>
								<a href="detail-restaurant.html">
									<figure>
										<img src="location_list_4.jpg" data-src="location_list_4.jpg" alt="" class="lazy loaded" data-was-processed="true">
									</figure>
									<div class="score"><strong>9.5</strong></div>
									<em>Vegetarian</em>
									<h3>Mr. Pepper</h3>
									<small>27 Old Gloucester St, 4563</small>
									<ul>
										<li><span class="ribbon off">-30%</span></li>
										<li>Average price $20</li>
									</ul>
								</a>
							</li>
							<li>
								<a href="detail-restaurant.html">
									<figure>
										<img src="location_list_5.jpg" data-src="location_list_5.jpg" alt="" class="lazy loaded" data-was-processed="true">
									</figure>
									<div class="score"><strong>8.0</strong></div>
									<em>Chinese</em>
									<h3>Dragon Tower</h3>
									<small>22 Hertsmere Rd E14 4ED</small>
									<ul>
										<li><span class="ribbon off">-50%</span></li>
										<li>Average price $35</li>
									</ul>
								</a>
							</li>
							<li>
								<a href="detail-restaurant.html">
									<figure>
										<img src="location_list_6.jpg" data-src="location_list_6.jpg" alt="" class="lazy loaded" data-was-processed="true">
									</figure>
									<div class="score"><strong>8.5</strong></div>
									<em>Pizza - Italian</em>
									<h3>Bella Napoli</h3>
									<small>135 Newtownards Road BT4</small>
									<ul>
										<li><span class="ribbon off">-45%</span></li>
										<li>Average price $25</li>
									</ul>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /row -->
			<p class="text-center d-block d-md-block d-lg-none"><a href="grid-listing-filterscol.html" class="btn_1">View All</a></p>
			<!-- /button visibile on tablet/mobile only -->

			<div class="owl-carousel owl-theme carousel_1 testimonials add_top_30 owl-loaded owl-drag">
			   
				 
				 
			<div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 3750px;"><div class="owl-item active" style="width: 1250px;"><div class="item">
				    <blockquote>"Quaerendum liberavisse no cum, at copiosae pericula maluisset per. Eos eros etiam ei, nibh elit mel ad. Quo mnesarchum disputando ne, id per delectus disputationi".</blockquote>
				    <figure><img src="avatar_1.svg" data-src="avatar_1.svg" alt="" class="lazy loaded" data-was-processed="true"></figure>
				    <cite>
				        <strong>James Powell</strong>
				        <span>3 October 2019</span>
				    </cite>
				</div></div><div class="owl-item" style="width: 1250px;"><div class="item">
				    <blockquote>"Quaerendum liberavisse no cum, at copiosae pericula maluisset per. Eos eros etiam ei, nibh elit mel ad. Quo mnesarchum disputando ne, id per delectus disputationi".</blockquote>
				    <figure><img src="avatar-placeholder.jpg" data-src="avatar_2.svg" alt="" class="lazy"></figure>
				    <cite>
				        <strong>Frederick Smith</strong>
				        <span>25 November 2019</span>
				    </cite>
				</div></div><div class="owl-item" style="width: 1250px;"><div class="item">
				    <blockquote>"Quaerendum liberavisse no cum, at copiosae pericula maluisset per. Eos eros etiam ei, nibh elit mel ad. Quo mnesarchum disputando ne, id per delectus disputationi".</blockquote>
				   <figure><img src="avatar-placeholder.jpg" data-src="avatar_3.svg" alt="" class="lazy"></figure>
				    <cite>
				        <strong>Jhon Rabbit</strong>
				        <span>31 November 2019</span>
				    </cite>
				</div></div></div></div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot"><span></span></button></div></div>
			<!-- /carousel testimonials-->

		</div>
		<!-- /container -->

		<div class="call_section lazy" data-bg="url(bg_call_section.jpg)" data-was-processed="true" style="background-image: url(&quot;bg_call_section.jpg&quot;);">
		    <div class="container clearfix">
		        <div class="col-lg-5 col-md-6 float-right wow">
		            <div class="box_1">
		                <h3>Are you a Restaurant Owner?</h3>
		                <p>Join Us to increase your online visibility. You'll have access to even more customers who are looking to enjoy your tasty dishes at home.</p>
		                <a href="submit-restaurant.html" class="btn_1">Read more</a>
		            </div>
		        </div>
    		</div>
    	</div>
   		<!--/call_section-->
		
	</main>