<h1><%= @artwork.name %></h1>

<p>description: <%= @artwork.description %></p>

<p>prix: <%= @artwork.price %> euros</p>

<p>stock: <%= @artwork.stock %></p>

<p>créateur: <%= @artwork.creator %></p>

<p>catégorie: <%= @artwork.category.name %></p>

<p>Nom du propriétaire: <%= @artwork.user.username %></p>

<%= link_to "Ajouter au panier", user_cart_path(nil, origin: "add"), data:{confirm: "Es-tu sûr?", method: "put"}, class: "btn btn-success btn-sm" %>


