<h1><%= @artwork.name %></h1>

<p>description: <%= @artwork.description %></p>

<p>prix: <%= @artwork.price %> euros</p>

<p>stock: <%= @artwork.stock %></p>

<p>créateur: <%= @artwork.creator %></p>

<p>catégorie: <%= @artwork.category.name %></p>

<p>Nom du propriétaire: <%= @artwork.user.username %></p>

<p>Stock: <%= @artwork.stock %></p>

<%= form_tag cart_details_path(origin: "add", cart_id: "current_user.cart.id", artwork_id: @artwork.id), method: "post" do %>
  <%= text_field_tag :quantity %>
  <%= submit_tag "Ajouter au panier", data:{confirm: "Es-tu sûr?"} %>
<% end %>

