<main>
	<div class="hero_in detail_page user_back">
		<div class="wrapper opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.5)">

			<div class="container">
				<div class="main_info text-center mb-5">
					<h1 class="text-white">Where there is Art, there is an Artist🎨</h1>
					<!-- /row -->
				</div>
				<!-- /main_info -->
			</div>
		</div>
	</div>
	<!--/hero_in-->

	<div class="container margin_detail">
		<div class="row">
			<div class="col-lg-12">
				<div class="tabs_detail">
					<ul class="nav nav-tabs" role="tablist">
						<li class="nav-item">
							<a id="tab-A" href="#pane-A" class="nav-link active" data-toggle="tab" role="tab">Informations</a>
						</li>
						<li class="nav-item">
							<a id="tab-B" href="#pane-C" class="nav-link" data-toggle="tab" role="tab">Reviews</a>
						</li>
					</ul>
					<div class="tab-content" role="tablist">
						<div id="pane-A" class="card tab-pane fade show active" role="tabpanel" aria-labelledby="tab-A">
							<div class="card-header" role="tab" id="heading-A">
								<h5>
									<a class="collapsed" data-toggle="collapse" href="#collapse-A" aria-expanded="true"
										aria-controls="collapse-A">
										Informations
									</a>
								</h5>
							</div>
							<div id="collapse-A" class="collapse" role="tabpanel" aria-labelledby="heading-A">
								<div class="container">
									<!-- Page Content -->
									<div class="container">

										<!-- Portfolio Item Heading -->
										<h1 class="my-4">
											<%= @user.first_name %> <%= @user.last_name %>
										</h1>
										<!-- Portfolio Item Row -->
										<div class="row">

											<div class="col-md-8">
												<% if @user.avatar.attached? %>
												<%= image_tag @user.avatar, class: "img-fluid rounded", size: "750x500"%>
												<% else %>
												<%= image_tag "artist.jpg", class: "img-fluid rounded", size: "750x500" %>
												<% end %>
											</div>

											<div class="col-md-4">
												<h3 class="my-3">Description</h3>
												<% if @user.contact.description %>
												<p><%= @user.contact.description %></p>
												<%end%>
												<h3 class="my-3">Address</h3>
												<% if @user.contact.address %>
												<p><%= @user.contact.address %></p>
												<%end%>
												<h3 class="my-3">Phone</h3>
												<% if @user.contact.phone %>
												<p><%= @user.contact.phone %></p>
												<%end%>
											</div>

										</div>
										<!-- /.row -->

										<!-- Related Projects Row -->
										<h3 class="my-4">Artworks</h3>
										<div class="row">
											<% @user.artworks.each do |artwork| %>
											<div class="col-md-4">
												<div class="card rounded shadow-lg p-3 mb-5">
													<% if artwork.avatar.attached? %>
													<%= image_tag artwork.avatar, class: "card-img-top", height: "300"%>
													<% else %>
													<% if artwork.url_image %>
													<%= image_tag artwork.url_image, class: "card-img-top", height: "300" %>
													<% else %>
													<%= image_tag "artwork_generique.jpg", class: "card-img-top", height: "300"%>
													<% end %>
													<% end %>
													<div class="card-body">
														<h4 class="card-title"><%= artwork.name %> - $<%= artwork.price %></h4>
														<p class="card-text">One of the last artwork published on the website, discover it</p>
														<%= link_to "discover this masterpiece",search_path(artwork.id), class: "btn btn-success stretched-link"%>
													</div>
												</div>
											</div>
											<% end %>
										</div>
										<!-- /.row -->

									</div>
									<!-- /.container -->
								</div>
							</div>
						</div>

						<div id="pane-C" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-C">
							<div class="card-header" role="tab" id="heading-C">
								<h5>
									<a class="collapsed" data-toggle="collapse" href="#collapse-C" aria-expanded="false"
										aria-controls="collapse-C">
										Reviews
									</a>
								</h5>
							</div>
							<div id="collapse-C" class="collapse" role="tabpanel" aria-labelledby="heading-C">
								<div class="card-body reviews">
									<div id="reviews">
										<%  @testimonials.each do | testimonial |%>
										<% if testimonial.artist_id == @user.id%>
										<div class="row reply">
											<div class="col-md-2 user_info">
												<figure>
													<% if testimonial.customer.avatar.attached? %>
													<%= image_tag testimonial.customer.avatar%>
													<% else %>
													<%= image_tag "avatar.jpg"%>
													<% end %>
												</figure>
											</div>
											<div class="col-md-10">
												<div class="review_content">
													<strong><%= testimonial.customer.first_name%>, <%= testimonial.created_at%></strong>
													<p class="mt-3"><%= testimonial.content%></p>
												</div>
											</div>
										</div>
										<% end %>
										<% end %>
										<!-- /reply -->
									</div>
									<!-- /review_card -->
								</div>
								<% if current_user%>
								<% current_user.orders.each do | order |%>
								<% order.order_details.each do | details | %>
								<% if details.artwork.user_id == @user.id%>
								<%= form_tag user_testimonials_path(params[:id]), method: "post" do %>
								<div class="form-group">
									<%= text_area_tag :content, nil, rows: 10, class: "form-control" %>
								</div>
								<%= submit_tag "Leave a review", class: "btn btn-sm btn-warning" %>
								<% end %>
								<% end %>
								<% end %>
								<% end %>
								<% end %>
							</div>
						</div>
					</div>
				</div>
				<!-- /tab-content -->
			</div>
			<!-- /tabs_detail -->
		</div>
		<!-- /col -->
		<!-- /row -->
	</div>
	<!-- /container -->
</main>
<!-- /main -->

<div id="toTop"></div><!-- Back to top button -->

<div class="layer"></div><!-- Opacity Mask Menu Mobile -->

<div id="message">Item added to cart</div><!-- Add to cart message -->

<!-- SPECIFIC SCRIPTS -->
<script>
	/* drodown options prevent close */
	$('.dropdown-options .dropdown-menu').on("click", function (e) { e.stopPropagation(); });
	/* remove items order sum */
	$('.main ul li a').on('click', function (c) {
		$(this).parent().fadeOut('slow', function (c) { });
	});
	/* Close Dropdown options on add cart button click + add to cart message */
	$(".dropdown-menu a.btn_1").on('click', function () {
		$(this).closest(".dropdown-menu").prev().dropdown("toggle");
		$('#message').fadeIn('slow', function () {
			$('#message').delay(1000).fadeOut();
		});
	});
	$(".options > a").on('click', function () {
		$('#message').fadeIn('slow', function () {
			$('#message').delay(1000).fadeOut();
		});
	});
</script>