<main>
	<div class="bg-white">
		<div class="container-fluid margin_60_40">
			<div class="main_title center">
				<span><em></em></span>
				<h2>Our Categories</h2>
				<p>Make your own choice, they only wait for you</p>
			</div>
			<!-- /main_title -->
			<div class="row">
				<!-- boucle -->
				<% @categories.each do |category| %>
				<div class="col-md-3">
					<article class="blog">
						<figure>
							<%= link_to category_path(category.id) do%>
							<%= image_tag category.url_image, alt: ""%>
							<div class="preview"><span>Discover</span></div>
							<%end%>
						</figure>
						<div class="post_info">
							<small class="text-dark"><%= category.artworks.size %> artworks</small>
							<h2><%= link_to "#{category.name}", category_path(category.id) %></h2>
							<p>“Art and love are the same thing: It's the process of seeing yourself in things that are not you.” “Art
								enables us to find ourselves and lose ourselves at the same time.”</p>

						</div>
					</article>
					<!-- /article -->
				</div>
				<% end %>
				<!-- /col -->
			</div>
		</div>
		<!-- /container -->
	</div>
	<!-- NEW FRONT ARTIST -->

	<!-- -->
	<div class="container margin_60_40">
		<div class="main_title">
			<span><em></em></span>
			<h2>Popular Artists</h2>
			<p>Awesome Artists, for Awesome People</p>
		</div>
		<!-- /main_title -->
		<div class="owl-carousel owl-theme carousel_4 owl-loaded owl-drag">
			<div class="owl-stage-outer">
				<div class="owl-stage"
					style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 2223px;">
					<% @users.each do |user|%>
					<div class="owl-item active" style="width: 297.5px; margin-right: 20px;">
						<div class="item">
							<div class="strip">
								<figure>
									<span class="ribbon off">popular</span>
									<% if user.avatar.attached? %>
									<%= image_tag user.avatar, data: {src: "#{user.avatar}"}, alt: "" ,width: 297.5, height: 190,class: "owl-lazy", style: "opacity: 1;" %>
									<% else %>
									<%= image_tag "artist.jpg", data: {src: "artist.jpg"}, alt: "", width: 297.5, height: 190, class: "owl-lazy", style: "opacity: 1;" %>
									<% end %>
									<%= link_to user_path(user.id), class: "strip_info" do%>
									<div class="item_title">
										<h3 class="text-white"><%= user.username%></h3>
									</div>
									<% end %>
								</figure>
								<ul>
									<li><span class="loc_open">contact</span></li>
									<li>
										<div class="score"><span>Superb<em>350 Reviews</em></span><strong>8.9</strong></div>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<%end%>
				</div>
			</div>
		</div>
		<!-- /carousel -->
	</div>
	<div class="banner lazy home_custom" data-bg="url(home_section_2.jpg)" data-was-processed="true">
		<div class="wrapper d-flex align-items-center opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.2)"
			style="background-color: rgba(0, 0, 0, 0.2);">
			<div>
				<small>ArtCrafBay</small>
				<h3 class="text-white">More than <%= @artworks.size %> Artworks available</h3>
				<p>Make your Passion a Reality </p>
				<%= link_to "View all", search_index_path, class: "btn_1"%>
			</div>
		</div>
		<!-- /wrapper -->
	</div>
	<!-- /banner -->
	<div class="container ">
		<div class="row">
			<div class="col-12">
				<div class="main_title version_2">
					<span><em></em></span>
					<h2>Our Last Wonders</h2>
					<p>Choose wich one drive you crazy</p>
					<%= link_to "View all", search_index_path %>
				</div>
			</div>
			<!-- boucle -->
			<div class="row">
			<% @artworks.each do |artwork| %>
			<div class="col-md-4">
				<div class="card rounded shadow-lg p-3 mb-5" >
					<% if artwork.avatar.attached? %>
						<%= image_tag artwork.avatar, class: "card-img-top", height: "350"%>
					<% else %>
						<% if artwork.url_image %>
							<%= image_tag artwork.url_image, class: "card-img-top", height: "350" %>
						<% else %>
							<%= image_tag "artwork_generique.png", class: "card-img-top", height: "350"%>
						<% end %>
					<% end %>
					<div class="card-body">
						<h4 class="card-title"><%= artwork.name %></h4>
						<p class="card-text">One of the last artwork published on the website, discover it</p>
						<%= link_to "discover this masterpiece",search_path(artwork.id), class: "btn btn-success stretched-link"%>
					</div>
				</div>
			</div>
			<% end %>
			</div>
		</div>
	</div>
	<!-- /row -->
	<p class="text-center d-block d-md-block d-lg-none"><%= link_to "View all", nil, class: "btn_1"%></p>
	<!-- /button visibile on tablet/mobile only -->

	<div class="owl-carousel owl-theme carousel_1 testimonials add_top_30 owl-loaded owl-drag">
		<div class="owl-stage-outer">
			<div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 3750px;">
				<div class="owl-item active" style="width: 1250px;">
					<div class="item">
						<blockquote>"ArtCraftBay has changed my life forever".</blockquote>
						<figure><%= image_tag "man_generique.jpg", data: {src: "man_generique.jpg"}, alt: "",class: "lazy"%>
						</figure>
						<cite>
							<strong>James Powell</strong>
							<span>3 October 2019</span>
						</cite>
					</div>
				</div>
			</div>
		</div>
		<!-- /carousel testimonials-->
	</div>
</main>