<div class="container-fluid">
    <div class="hero_in detail_page cart_back">
        <div class="wrapper opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.5)">
    
          <div class="container">
            <div class="main_info text-center mb-5">
              <h1 class="text-white">My Cart</h1>
              <!-- /row -->
            </div>
            <!-- /main_info -->
          </div>
        </div>
    </div>
  <% if @cart.cart_details.length == 0 %>
  <div class="header_box version_2 mt-3 text-center">
    <h2>Votre panier est vide pour le moment</h2>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
  <% else %>
  <div class="box_general pt-0">
    <div class="list_general">
      <%@cart.cart_details.each_with_index do |cart_detail, index|%>
      <ul>
        <li>
          <figure>
            <% if cart_detail.artwork.avatar.attached? %>
              <%= image_tag cart_detail.artwork.avatar%>
              <% else %>
              <% if cart_detail.artwork.url_image %>
              <%= image_tag cart_detail.artwork.url_image %>
              <% else %>
              <%= image_tag "artwork_generique.jpg"%>
              <% end %>
              <% end %>
            </figure>
          <h4><%= cart_detail.artwork.name %></h4>
          <ul class="booking_list">
            <li>
              <%= form_tag cart_detail_path(cart_detail.id), method: "patch" do %>
              <strong>Quantity :</strong>
              <%= select_tag(:quantity, options_for_select(1..cart_detail.artwork.stock+cart_detail.quantity, cart_detail.quantity), {class: "custom-select col-md-1"}) %>
              <%= submit_tag "Change quantity", class: "btn_1 bg-info" %>
              <% end %>
            </li>
            <li><strong>Unitary Price :</strong>$<%= cart_detail.artwork.price %></li>
            <li><strong>Total Amount :</strong>$<%= sum_line(cart_detail) %></li>
          </ul>
          <ul class="buttons">
            <li><%= link_to "show", search_path(cart_detail.artwork_id), class: "btn_1 green approve"%></li>
            <li>
              <%= link_to "delete", cart_detail_path(cart_detail.id), class: "btn_1 bg-danger delete", data: {confirm: "Are you sure you want to remove this item from your cart?"}, method: "delete"%>
            </li>
          </ul>
        </li>
      </ul>
      <%end%>
    </div>
    <div class="text-center mt-3">
      <h3>Confirm your order</h3>
      <!--FORM STRIPE-->
      <%= form_tag order_details_path, method: "post" do %>
      <article>
        <% if flash[:error].present? %>
        <div id="error_explanation">
          <p><%= flash[:error] %></p>
        </div>
        <% end %>
        <label class="amount mb-2">
          <span class="text-dark">Total to pay : $<%= sum_cart? %></span>
        </label>
      </article>

      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="<%= Rails.configuration.stripe[:publishable_key] %>" data-description="This Art deserves it"
        data-amount="<%= sum_cart?*100 %>" data-locale="auto">
        </script>
      <% end %>
      <!--FORM STRIPE-->
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
  <%end%>
</div>