<div class="container-fluid">
  <div class="text-center mt-5 mb-5">
    <h1>My Cart</h1>
  </div>
  <div class="box_general pt-0">
    <div class="list_general">
      <%@cart.cart_details.each_with_index do |cart_detail, index|%>
      <ul>
        <li>
          <figure><
            <% if cart_detail.artwork.avatar.attached? %>
              <%= image_tag cart_detail.artwork.avatar%>
              <% else %>
              <% if cart_detail.artwork.url_image %>
              <%= image_tag cart_detail.artwork.url_image %>
              <% else %>
              <%= image_tag "artwork_generique.png"%>
              <% end %>
              <% end %>
            </figure>
          <h4><%= cart_detail.artwork.name %></h4>
          <ul class="booking_list">
            <li>
              <%= form_tag cart_detail_path(cart_detail.id), method: "patch" do %>
              <strong>Quantity :</strong>
              <%= select_tag(:quantity, options_for_select(1..cart_detail.artwork.stock+cart_detail.quantity, cart_detail.quantity), {class: "custom-select col-md-1"}) %>
              <%= submit_tag "Change quantity", class: "btn_1 bg-info" %>
              <% end %>
            </li>
            <li><strong>Price :</strong>$<%= cart_detail.artwork.price %></li>
            <li><strong>Amount :</strong>$<%= sum_line(cart_detail) %></li>
          </ul>
          <ul class="buttons">
            <li><%= link_to "show", search_path(cart_detail.artwork_id), class: "btn_1 green approve"%></li>
            <li>
              <%= link_to "delete", cart_detail_path(cart_detail.id), class: "btn_1 bg-danger delete", data: {confirm: "Es-tu sur?", method: "delete"}%>
            </li>
          </ul>
        </li>
      </ul>
      <%end%>
      <ul>
        <li>
          <h4>Total Amount</h4>
        </li>
      </ul>
    </div>
    <div class="text-right">
      <!--FORM STRIPE-->
      <%= form_tag order_details_path, method: "post" do %>
      <article>
        <% if flash[:error].present? %>
        <div id="error_explanation">
          <p><%= flash[:error] %></p>
        </div>
        <% end %>
        <label class="amount">
          <span class="text-dark">Amount : $<%= sum_cart? %></span>
        </label>
      </article>

      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="<%= Rails.configuration.stripe[:publishable_key] %>" data-description="Pay it Bambino"
        data-amount="<%= sum_cart?*100 %>" data-locale="auto">
        </script>
      <% end %>
      <!--FORM STRIPE-->
    </div>
  </div>
</div>