<div class="container text-center">

  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
    <h1 class="mb-5 mt-5">My nice Cart Baby</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Artwork</th>
          <th scope="col">Quantity</th>
          <th scope="col">Amount</th>
          <th scope="col">Show</th>
          <th scope="col">Update</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <%@cart.cart_details.each_with_index do |cart_detail, index|%>
          <tr>
            <th scope="row"><%= cart_detail.artwork_id %></th>
            <td><%= cart_detail.artwork.name %></td>
            <td><%= cart_detail.quantity %></td>
            <td>$<%= sum_line(cart_detail) %></td>
            <td><%= link_to "voir", artwork_path(cart_detail.artwork_id), class: "btn btn-primary btn-sm"%></td>
            <td><%= link_to "modifier", cart_detail_path(cart_detail.id), class: "btn btn-success btn-sm", data: {confirm: "Es-tu sur?", method: "patch"}%></td>
            <td><%= link_to "supprimer", cart_detail_path(cart_detail.id), class: "btn btn-danger btn-sm", data: {confirm: "Es-tu sur?", method: "delete"}%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <p class="mt-5"><%= sum_cart? %> dollars</p>
    <p class="mt-5"><%= link_to "Valider la commade", nil, class: "btn btn-warning"%></p>
    <br>
  </main>
</div>