<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey <%= @user.username %>, your order has been done !</h1>

    <p>Here is the summary of your order :</p>

    <% @cart.cart_details.each do |cart_detail| %>
      <p>Item: <%= cart_detail.artwork.name %> Quantity: <%= cart_detail.quantity%> .</p>
    <% end %>
    
    <p>The seller(s) will contact you soon for the delivery of your masterpiece(s) at this email : <%= @user.email %>.</p>

    <p> To access to your profil, log in at this url : <%= @url %>.</p>
    <p> ArtCraftBay loves you !</p>
    <p> See you soon on https://production-art.herokuapp.com !</p>
  </body>
</html>