<div class="container">

    <div class=" text-center mt-5">

      <h2>Masterpieces category : <%= @category.name %></h2>
      <%= image_tag @category.url_image, alt: "" ,width: 340, height: 340,class: "owl-lazy", style: "opacity: 1;" %>
      <p>Choose wisely</p>
    </div>

<div class="row">

<!-- boucle -->
<% @artworks.each do |artwork| %>
<div class="col-md-6">
  <div class="list_home">
    <ul>
      <li>
        <%= link_to search_path(artwork.id) do%>
        <figure>
                    <% if artwork.avatar.attached? %>
											<%= image_tag artwork.avatar, data: {src: "#{user.avatar}"}, alt: "" ,width: 297.5, height: 190,class: "owl-lazy", style: "opacity: 1;" %>
										<% else %>
											<%= image_tag artwork.url_image, alt: "", width: 297.5, height: 190, class: "owl-lazy", style: "opacity: 1;" %>
										<% end %>        </figure>
        <div class="score"><strong><%= artwork.category.name %></strong></div>
        <h3><%= artwork.name %></h3>
        <small><%= artwork.user.username %></small>
        <ul>
          <li><span class="ribbon off">New</span></li>
        </ul>
        <% end %>
      </li>
    </ul>
  </div>
</div>
<% end %>
</div>
</div>