<header class="header clearfix element_to_stick">
	<div class="container">
		<div id="logo">
			<%= link_to image_tag("https://cdn.pixabay.com/photo/2014/04/03/11/50/palette-312289_960_720.png", size: "50x50"), root_path %>
		</div>
		<!-- /top_menu -->
		<a href="#0" class="open_close">
			<i class="icon_menu"></i><span>Menu</span>
		</a>
		<nav class="main-menu">
			<ul>
				<% if user_signed_in?%>
					<% if current_user.is_admin%>
						<li><%= link_to "Dasboard admin", statistic_root_path %></li>
					<% end %>
				<% end %>
				<li class="submenu">
					<a href="#0" class="show-submenu">Artworks Categories</a>
					<ul>
						<% Category.all.each do |category|%>
						<li><%= link_to "#{category.name}", category_path(category.id) %></li>
						<%end%>
					</ul>
				</li>
				<% if user_signed_in? == false %>
				<li class="submenu">
					<a href="#0" class="show-submenu">Sign up / Sign in</a>
					<ul>
						<li><%= link_to "Sign up", new_user_registration_path %></li>
						<li><%= link_to "Sign in", new_user_session_path %></li>
					</ul>
				</li>
				<% else %>
				<li><%= link_to "Sell an artwork", new_user_artwork_path(current_user.id) %></li>
				<li><%= link_to "Log out", destroy_user_session_path, :method => "delete" %></li>
				<li><%= link_to "My profil", edit_user_path(current_user.id) %></li>
				<li><%= link_to "My cart", user_cart_path(current_user.id, current_user.cart.id) %></li>
				<% end %>
			</ul>
		</nav>
	</div>
</header>
<!-- /header -->