<nav class="navbar navbar-expand-lg navbar-white bg-default fixed-top" id="mainNav" style="background-color: white;">
<%= link_to image_tag("https://cdn.pixabay.com/photo/2014/04/03/11/50/palette-312289_960_720.png", size: "50x50"), root_path %>    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="My profile">
        <%= link_to "My Profile", edit_user_path(current_user.id), class: "nav-link" %>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="My profile">
        <%= link_to "My Messages", user_conversations_path(current_user.id), class: "nav-link" %>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="" data-original-title="Bookings">
          <%= link_to "Placed Orders", user_orders_path(current_user.id), class: "nav-link" %>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="" data-original-title="Bookings">
          <%= link_to "My Artworks", user_artworks_path(current_user.id), class: "nav-link" %>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Add listing">
            <%= link_to "Add Artwork", new_user_artwork_path(current_user.id), class: "nav-link" %>
        </li>
      </ul>
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center mb-4" id="sidenavToggler">
            <p></p>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <%= link_to "Leave My Profile", root_path, class: "nav-link" %>
        </li>
      </ul>
    </div>
  </nav>