<header class="header_in clearfix">
		<div class="container">
		<div id="logo">
      <%= link_to image_tag("logo_sticky.svg"), root_path %>
		</div>
		<!-- /top_menu -->
		<a href="#0" class="open_close">
			<i class="icon_menu"></i><span>Menu</span>
		</a>
		<nav class="main-menu">
			<div id="header_menu">
				<a href="#0" class="open_close">
					<i class="icon_close"></i><span>Menu</span>
				</a>
				<a href="index.html"><img src="img/logo.svg" width="140" height="35" alt=""></a>
			</div>
			<ul>
				<li class="submenu">
					<a href="#0" class="show-submenu">Artworks Categories</a>
					<ul>
						<% Category.all.each do |category|%>
							<li><a href="detail-restaurant.html"><%= category.name%></a></li>
						<%end%>
					</ul>
				</li>
				<li><a href="submit-restaurant.html">Sell an artwork</a></li>
        <% if user_signed_in? == false %>
        <li class="submenu">
					<a href="#0" class="show-submenu">Sign up / Sign in</a>
					<ul>
            <li><%= link_to "Sign up", new_user_registration_path %></li>
            <li><%= link_to "Sign in", new_user_session_path %></li>
					</ul>
				</li>
        <% else %>
        <li><%= link_to "Log out", destroy_user_session_path, :method => "delete" %></li>
        <li><%= link_to "My profil", edit_user_path(current_user.id) %></li>
        <li><%= link_to "My cart", user_cart_path(current_user.id, current_user.cart.id) %></li>
        <% end %>
			</ul>
		</nav>
	</div>
	</header>
	<!-- /header -->			
