<!DOCTYPE html>
<html>
  <head>
    <title>ArtMarketplace</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Foogra - Discover & Book the best restaurants at the best price">
    <meta name="author" content="Ansonika">

    <!-- Favicons-->

    <%= favicon_link_tag 'favicon.ico', rel: "shortcut icon", type: "image/x-icon" %>
    <%= favicon_link_tag 'apple-touch-icon-57x57-precomposed.png', rel: "apple-touch-icon", type: "image/x-icon" %>
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', rel: "apple-touch-icon", type: "image/x-icon", sizes: "72x72" %>
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', rel: "apple-touch-icon", type: "image/x-icon", sizes: "114x114" %>
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', rel: "apple-touch-icon", type: "image/x-icon", sizes: "144x144" %>

    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap" rel="stylesheet">

</head>

<body>
  <%= yield %>
</body>

</html>
